// colors
$color-white: #fff3f3;
$color-black: #1a1a1a;
$color-grey: #e7e4e4;
$color-primary: #00b190;
$color-primary-light: #489285;
$color-secondary: #001b16;
$color-secondary-light: #002b23;

// fonts
$default-font-size: 1.6rem;
$font-primary: "Raleway", sans-serif;

//GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
